extends layout

block content
  center
    div(id="ulLogo")
      img(id="logo" src="img/ul.jpg")
    div(class="input_field" id="inputId")
      div(class="input-field col s6")
        input(id="S" type="text" class="center")
        label(for="first_name" id="label") student ID
        div(id="submit")
          button(class="btn waves-effect waves-light" style="background-color:#7D0140" type="submit" name="action" id="submitBtn") Submit
            i(class="material-icons right") send
    div(id="wait")
      div(class="loader" id="loader")


      //placeholder="Please insert your student ID" 